
<div class="container">
    <legend class="col-form-legend col-4">Signos y Síntomas</legend>
    <form>
        <fieldset class="mb-3 row">
          
            <div class="col-8">
                <div class="list-group">
                    <label class="list-group-item" *ngFor="let item of signosSintomas ; let i = index" >
                      <input class="form-check-input me-1" type="checkbox" [value]="item.checked" (change)="Check(i)">
                      {{item.Descripcion}}
                    </label>
                  
                  </div>
            </div>
        </fieldset>
    </form>
    <div class="mb-3 row">
        <div class="offset-sm-4 col-sm-8">
            <button  class="btn btn-primary" (click)="Generate()" [disabled]="sintomasSelected.length < 3">Action</button>
        </div>
    </div>
</div>
